/* Base Vars */
:root {
  /* --black: #272727; */
  --black: rgba(24, 24, 24, 255);
  /* --white: #fafafa; */
  --white: rgba(242, 242, 242, 255);

  --green: rgba(139, 184, 163, 255);

  --blue: rgba(77, 78, 142, 255);

  --red: rgba(255, 64, 51, 255);

  --transparent-white: rgba(242, 242, 242, 0.3);
  --light-gray: rgba(153, 158, 164, 255);
  /* --gray: slategray; */
  --gray: rgba(100, 108, 121, 255);

  /* --border-radius: 25px; */
  --border-radius: 35px;

  --full-height: calc(100vh - 50px);

  --brown: rgba(67, 46, 45, 255);

  --yellow: rgba(229, 211, 163, 255);
}

html {
  /* CSS Reset  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* A system font stack so things load nice and quick! */
  /* Borrowed From WesBos  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

/* More CSS Reset  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Topography BG Settings  */
  /* background-image: url("./images/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9); */
  /* background-attachment: fixed; */
  /* background-size: 340px, auto; */

  /* Slanted Settings  */
  /* background-image: url("./images/slanted-gradient.svg");
  background-attachment: fixed;
  background-size: cover; */

  background: var(--light-gray);

  /* Normal Settings  */
  min-height: var(--full-height);
  margin: 25px auto;
  max-width: 1400px;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: var(--gray);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
  position: relative;
  min-height: var(--full-height);
  margin: 0 auto;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.brown {
  background-color: var(--brown);
}

.circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  --border-radius: 5px;
  border-radius: var(--border-radius);
}

.box {
  width: 10px;
  height: 10px;
  display: inline-block;
  --border-radius: 2px;
  border-radius: var(--border-radius);
}
.card {
  background: white;
  padding: 2rem;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
}

.card-setting {
  font-size: 18px;
  line-height: 1;
  background: var(--white);
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 25%;
}

.item {
  background: white;
  box-shadow: 0px 20px 50px rgba(24, 24, 24, 0.1);
}

/*| SIDEBAR */

.sidebar {
  /* background: var(--gray); */
  background: linear-gradient(from top rgba(100, 108, 121, 255) to rgba(99, 107, 121, 255));
  color: var(--white);
  width: 100%;
  padding: 20px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  align-content: space-around;
  justify-content: start;
  min-height: 100%;
  font-size: 14px;
}

.logo--container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logo {
  background-size: contain;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.profile {
  font-size: 14px;
  text-align: center;
  align-self: center;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.avatar--container {
  position: relative;
  z-index: 1;
  width: 75px;
  height: 75px;
}

.avatar--container:before {
  background: url("./images/polka-dots.svg");
  background-size: 15px;
  display: block;
  content: "";
  height: 75px;
  width: 75px;
  position: absolute;
  top: -32px;
  right: -32px;
  z-index: -1;
}

.avatar--container:after {
  color: var(--white);
  /* https://fontawesome.com/license */
  background: url("./images/wave-square-solid.svg");
  background-color: var(--black);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border-radius: 50%;
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.navbar {
  font-size: 16px;
  opacity: 0.8;
}

.nav--item {
  padding: 0.75rem 2rem;
}

.nav--item .icon {
  margin-right: 1rem;
}

.nav--item .icon.right {
  margin-right: 0;
  margin-left: 1rem;
}

.subnav {
  margin-left: 2rem;
}

.subnav .nav--item {
  font-weight: 500;
}

.upload {
  justify-self: center;
  text-align: center;
  width: 150px;
  height: 200px;
  padding: 1rem;
  --border-radius: 20px;
  border-radius: var(--border-radius);
  border: 1px dashed var(--white);
}

.inner-upload {
  background: var(--transparent-white);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: grid;
  gap: 2rem;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.inner-upload .upload-header {
  align-self: start;
}

.inner-upload .icon {
  margin-top: 2rem;
  border-radius: 50px;
  background: var(--white);
  opacity: 0.5;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

/*| CONTENT  */

.content {
  background: var(--white);
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
  min-width: 1018px;
  margin: 0 auto;
  padding: 5rem 4rem;
  border: 1px solid rgba(242, 243, 244, 255);
  border-radius: var(--border-radius);
  height: 100%;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: 50px 2fr 1fr;
  grid-auto-columns: 75px;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "o  o   o   .   . s s   s   b1  b2  b3   b3"
    "h  h   h   h   h h h   h   h   h   h   h"
    "st st  st  st  . lf lf  lf  lf  lf  lf  lf"
    "st st  st  st  . lf lf  lf  lf  lf  lf  lf";
  transition: all var(--slide-time) linear;
}

.content.slide-open {
  width: 80%;
  left: 280px;
}

.content-open {
  position: relative;
}

.content.slide .slider {
  position: absolute;
  top: 0;
  left: 0;
}

.content div {
  --border-radius: 15px;
  border-radius: var(--border-radius);
}

.content button.slider {
  position: absolute;
  width: 70px;
  height: 70px;
  border: none;
  font-size: 26px;
  background: none;
  border-radius: inherit;
  text-align: center;
}

.overview {
  grid-area: o;
  display: flex;
}
.overview h2 {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overview p {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  color: var(--white);
}
.overview p span {
  padding: 0 0.5rem;
  border-radius: 50px;
}

.search {
  grid-area: s;
  font-size: 26px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-content: start;
  justify-self: start;
}
.search input {
  font-size: 16px;
  border: 0;
  color: inherit;
  background: inherit;
  width: 100%;
  margin-left: 1rem;
}

button {
  margin: 0;
  padding: 0;
  background: inherit;
  border: 1px solid rgba(227, 227, 227, 255);
  --border-radius: 15px;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--white);
}
button.icon {
  font-size: 20px;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
}
.notifications {
  grid-area: b1;
  justify-self: end;
}
.logout {
  grid-area: b2;
  justify-self: center;
}
.cta--button {
  grid-area: b3;
  background: var(--green);
  border-color: rgba(149, 178, 165, 255);
}

.hero {
  grid-area: h;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, minmax(75px, 2fr));
  grid-auto-columns: 75px;
  margin: 5rem 0;
}

.cta {
  grid-column: span 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.cta--header {
  letter-spacing: 1px;
  font-size: 32px;
  margin: 0;
}
.cta--info {
  align-self: start;
  font-size: 16px;
  font-weight: 500;
}

.hero .add_item {
  grid-column: 6;
  display: grid;
  justify-content: center;
  align-items: center;

  --border-radius: 20px;
  border-radius: var(--border-radius);
  border: 1px dashed var(--black);
}

.hero .item {
  display: grid;
  grid-template-rows: 1fr 1fr 20px 20px;
  align-items: end;
  --border-radius: 20px;
  padding: 3rem;
  color: var(--white);
}

.item:nth-last-of-type(3) {
  grid-column: -6 / span 2;
  background: var(--green);
}
.item:nth-last-of-type(2) {
  grid-column: -4 / span 2;
  background: var(--blue);
}
.item:nth-last-of-type(1) {
  grid-column: -2 / span 2;
  background: var(--gray);
}

.hero .item h3 {
  font-size: 16px;
  margin: 0;
}

.hero .item p {
  align-self: start;
  font-weight: 500px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.hero .item p span {
  font-size: 16px;
  line-height: 1rem;
}

.hero .item p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.hero .item .icon {
  font-size: 30px;
  align-self: center;
}

.storage {
  grid-area: st;
  display: grid;
  min-height: 307px;
}

.storage .chart {
  background: conic-gradient(var(--brown) 70%, var(--yellow) 0 80%, var(--green) 0 90%, var(--blue) 0);
  transform: rotate(10deg);
  width: 150px;
  height: 150px;
  justify-self: center;
  --border-radius: 100%;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}
.storage .chart::after {
  content: "37%";
  transform: rotate(-10deg);
  background: white;
  width: 100px;
  height: 100px;
  justify-self: center;
  --border-radius: 100%;
  border-radius: var(--border-radius);
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  position: absolute;
}

.breakdown {
  background: var(--white);
  display: grid;
  column-gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.breakdown--info {
  padding: 0.5rem;
  background-color: white;
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-areas:
    "c t"
    ". d";

  --data-padding: 1rem;
}

.breakdown--info h3 {
  grid-area: t;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding-left: var(--data-padding);
  align-self: center;
  justify-self: left;
  margin: 0;
}

.breakdown--info p {
  grid-area: d;
  grid-column: 2 / -1;
  color: rgba(140, 140, 140, 0.5);
  font-weight: 500;
  font-size: 14px;
  padding-left: var(--data-padding);
}
.breakdown .circle {
  grid-area: c;
  align-self: center;
}

.breakdown li:nth-child(even) {
  padding-left: 2rem;
}

.last_file {
  grid-area: lf;
  display: grid;
  align-items: center;
}

.last_file .card-heading {
  border-bottom: 1px solid var(--white);
  align-self: stretch;
}

.file {
  display: grid;
  grid-template-columns: fit-content(50px) 1fr 1fr fit-content(100px);
  gap: 1rem;
  align-items: center;
}

.file .icon--container {
  justify-self: start;
  width: 40px;
  height: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
  --border-radius: 30%;
}

.file .icon--container .icon {
  background: url("./images/file-pdf-solid.svg") no-repeat center;
  width: 20px;
  height: 20px;
  --border-radius: 0;
}

.file .file--name {
  margin: 0;
  justify-self: start;
  font-size: 16px;
  font-weight: 600;
}

.file .users {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.file .users .user {
  width: 40px;
  height: 40px;
  background: rgba(206, 214, 219, 255);
  border: 2px solid white;
  display: grid;
  justify-content: center;
  align-items: center;
  --border-radius: 50%;
}

.file .users .user:nth-child(2) {
  margin-left: -15px;
}

.file .users .user:nth-child(3) {
  margin-left: -30px;
}

.file .date {
  justify-self: end;
  color: rgba(140, 140, 140, 1);
  font-weight: 500;
  font-size: 16px;
}
