/* Base Vars */
:root {
  /* --black: #272727; */
  --black: rgba(24, 24, 24, 255);
  /* --white: #fafafa; */
  --white: rgba(242, 242, 242, 255);

  --transparent-white: rgba(242, 242, 242, 0.3);
  --light-gray: rgba(153, 158, 164, 255);
  /* --gray: slategray; */
  --gray: rgba(100, 108, 121, 255);

  --border-radius: 25px;

  --full-height: calc(100vh - 100px);
}

html {
  /* CSS Reset  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* A system font stack so things load nice and quick! */
  /* Borrowed From WesBos  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/* More CSS Reset  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Topography BG Settings  */
  /* background-image: url("./images/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9); */
  /* background-attachment: fixed; */
  /* background-size: 340px, auto; */

  /* Slanted Settings  */
  /* background-image: url("./images/slanted-gradient.svg");
  background-attachment: fixed;
  background-size: cover; */

  background: var(--light-gray);

  /* Normal Settings  */
  min-height: var(--full-height);
  margin: 50px;
  color: var(--black);
  /* letter-spacing: -1px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: var(--gray);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
  position: relative;
  min-height: var(--full-height);
}

.sidebar {
  background: var(--gray);
  color: var(--white);
  width: 100%;
  padding: 20px;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  align-content: space-around;
  justify-content: start;
  min-height: 100%;
  font-size: 14px;
}

.logo--container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logo {
  background-size: contain;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.profile {
  font-size: 14px;
  text-align: center;
  align-self: center;
}

.profile .avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 1rem;
}

.navbar {
  font-size: 16px;
  opacity: 0.8;
}

.nav--item {
  padding: 0.75rem 2rem;
}

.nav--item .icon {
  margin-right: 1rem;
}

.nav--item .icon.right {
  margin-right: 0;
  margin-left: 1rem;
}

.subnav {
  margin-left: 2rem;
}

.box {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.upload {
  justify-self: center;
  text-align: center;
  width: 150px;
  height: 200px;
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px dashed var(--white);
}

.inner-upload {
  background: var(--transparent-white);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: grid;
  gap: 2rem;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.inner-upload .upload-header {
  align-self: start;
}

.inner-upload .icon {
  margin-top: 2rem;
  border-radius: 50px;
  background: var(--white);
  opacity: 0.5;
  width: 50px;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.content {
  background: var(--white);
  /* position: absolute; */
  left: 0;
  width: 100%;
  padding: 50px;
  border-radius: var(--border-radius);
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, minmax(75px, 1fr));
  grid-template-rows: 50px 2fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "o  o   o   .   . s s   .   .   b1  b2  b3"
    "h  h   h   h   h h h   h   h   h   h   h"
    "st st  st  st  . . lf  lf  lf  lf  lf  lf"
    "st st  st  st  . . lf  lf  lf  lf  lf  lf";
}

.content.slide {
  position: initial;
}

.overview {
  grid-area: o;
  display: flex;
}
.overview h2 {
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
}
.overview p {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  color: var(--white);
}
.overview p span {
  padding: 0 0.5rem;
  border-radius: 50px;
}

.search {
  grid-area: s;
}

.notifications {
  grid-area: b1;
}
.logout {
  grid-area: b2;
}
.cta--button {
  grid-area: b3;
}
.hero {
  grid-area: h;
}
.storage {
  grid-area: st;
}
.last_file {
  grid-area: lf;
}
